body { 
    margin: 0; padding: 0; 
}
#map { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    /* vw and vh stand for viewport width/height. We are getting these in html file */
    width: 100vw; 
    height: 100vh; 
}