<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nier Campus</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link href="css/style.css" rel="stylesheet">
	<!-- same font as HW2 -->
	<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
	<!-- taken from hw style and scripts: -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>

<!-- IMPORTANT:
Design for mobile first!

TODO LIST:

*DEGR
add map updating into quest details
add map + quest cross functionality
(something weird happens when we just reload page and go to map view:
it doesn't take up the entire space and only does after resizing)

toggle to filter for favorites in quest list

add back button functionality

Fix progress bar for EXP
item/reward/badge system
Integrate customizable avatar
pop ups for "completed" screens -- confirm we can use this

Add share system (share to friends/sns)

add animations

-->

<body onload="viewport()">
<div id='app'>

	<div id = "heading">
		<p>Nier Campus</p>
	</div>

	<div id = "nav" class = "nav">
		<nav>
			<div class="nav-links">
			<!-- can someone help make this vue functionality? -->
			<a tabindex="1" href="#Profile" onclick= playTap() v-on:click="SwitchProfile()">
				<img src="images/icons/profile.png" alt="Profile tab" /></a>
			<a tabindex="1" href="#Quests" onclick= playTap() v-on:click="SwitchQuests() ">
				<img src="images/icons/quests.png" alt="Quests tab" /></a>
			<a tabindex="1" href="#Map" onclick= playTap() v-on:click="SwitchMap(); adjust_main_map()">
				<img src="images/icons/map.png" alt="Map tab" /></a>
			</div>
		</nav>
	</div>

	<div id = "content" >
		<div id="Profile" v-show="profilePage" >
			<h1> Profile </h1>
			
			<div id="avatar">
				<img id = "emote" v-if="!emote" src="images/happy.png" v-on:click="toggleEmote()" alt="happy emote" />
				<img id = "emote" v-else src="images/love.png" v-on:click="toggleEmote()" alt="heart emote" />
				<br>
				<img id = "profilePic" src="images/UI_avatar/avatar_base.png" alt="profile image"/>

				<!-- avatar customization section -->
				<img class="avatarHead" id="profilePic" v-bind:src= "avatarUnlockedHeads[headIndex]">
				<img class="avatarBody" id="profilePic" v-bind:src= "avatarUnlockedBody[bodyIndex]">
				<img class="avatarAcc" id="profilePic" v-bind:src="avatarUnlockedAcc[accIndex]">
			</div>
			<!-- Button for changing clothes -->
			<button id="clothes" v-on:click="toggleCustom()">Customize your Avatar!</button>

			<!-- Pop up where users select the items they want to wear -->
			<div class="customization" v-show="avatarScreen">
				<h1>Customize Your Avatar</h1>
				<p> unlock more items with Quests!</p>
				<p>Head</p>
				<div id="avatarButton" v-for= "(head, idx) in avatarUnlockedHeads">
					<img class="column-sm" id="avatarButton"  v-on:click="toggleHead(idx)" v-bind:src="avatarUnlockedHeads[idx]">
				</div>
				<p>Outfit</p>
				<div id="avatarButton" v-for= "(body, idx) in avatarUnlockedBody">
						<img id="avatarButton" v-on:click="toggleBody(idx)" v-bind:src="avatarUnlockedBody[idx]">
				</div>
				<p>Accessory</p>
				<div id="avatarButton" v-for= "(acc, idx) in avatarUnlockedAcc">
						<img id="avatarButton" v-on:click="toggleAcc(idx)" v-bind:src="avatarUnlockedAcc[idx]">
				</div>
				<br>
				<button id="done" v-on:click="toggleCustom()">Done!</button>
			</div>

			<div id="exp">
				<h1 id="levelLabel"> LEVEL {{currLevel}}</h1>
				<h1 id="expLabel">{{expPts}} EXP </h1>
				<!-- <progress id="expBar" value="100" max="400"> {{expPts}}% </progress> -->
			</div>
			<div id="shortcut" >
				<button id="StartProfile" onclick=playTap() v-if="!startedExists" v-on:click="SwitchQuests()">Start a Quest!</button>
				<button id="StartProfile" onclick=playTap() v-if="startedExists" v-on:click="SwitchDetailsProfile()">{{startedQuests[0].name}}</button>
			</div>
		</div>

		<div id="Quests"  v-show="questListPage">
			<h1> Quest List </h1>
			<!-- <p>DEBUG: before for</p> -->
			<div v-for = "(quest, idx) in questList"
				v-bind:class = "[questRead(idx) ? 'questListRead' : 'questList']">
				<!-- <p>DEBUG: in for</p> -->
				<!-- Note: need a way to click on quest and show more details-->
				<div class="questEntry">
					<div class="questTitle">
						<h2>{{questList[idx].name}}</h2>
						<img v-if="!questFavorited(idx)" v-on:click="toggleFavorited(idx)"
							src="images/icons/unfavorited.png" alt="unfavorited" /></a>
				  		<img v-else src="images/icons/favorited.png" v-on:click="toggleFavorited(idx)" alt="favorited" /></a>
					<!-- toggle between the states? if started or completed, do not show anything else before that.  -->
					<!-- we need to change icons for completed quests -->
						<p class="questStatus" v-show="questStarted(idx)">Quest In-Progress</p>
						<p class="questStatus" v-show="questCompleted(idx)">Quest Completed!</p>
						<img v-if="questCompleted(idx)" src="images/icons/pixel_check.png" alt="checkmark"/></a>
						<p v-show="!questRead(idx)" class="questStatus">New Quest!</p>
					</div>
				  	<!--TODO: must change according to state (v-if)?-->
				  	<button class="questBodyBtn" onclick = playTap() v-on:click="SwitchDetails(idx); setRead(idx); quest_details_map(idx); adjust_quest_map()">
						<p>Quest Details</p>
						<!-- v-on:click: switch quest list to clicked-quest details-->
					</button>
				</div>
			</div>
		</div>

		<!-- how to add back button function? -->
		<div id = "QuestDetails" v-show="questDetailsPage">
			<h1>Quest Details </h1>
			<div class="detailInfo">
				<h2> {{questList[questIndex].name}} </h2>
				<p>{{questList[questIndex].information}} </p>
				<!-- v-show="{{questList[questIndex].started}}"   -->
				<div class="startEnd" v-show="!questStarted(questIndex)">
					<button id = "startEnd"  onclick= playTap()  v-on:click="setStarted(questIndex)">
						<p>Start Quest</p>
					</button>
				</div>
				<div class="startEnd" v-show="questStarted(questIndex)">
					<button id = "startEnd" onclick = playEnd() v-on:click="setCompleted(questIndex); unlockRewards(questIndex)">
						<p>Complete Quest</p>
					</button>
				</div>
				<div class="startEnd" v-show="questCompleted(questIndex)">
					<button id = "startEnd" onclick = playRestart() v-on:click="setRestarted(questIndex)">
						<p>Restart Quest</p>
					</button>
				</div>
				<button id="googleButton" v-on:click=openMaps(questIndex)>Open in Google Maps</button>
			</div>
			<div v-show="!questCompleted(questIndex)" id="questMap"></div>

			<!-- <div v-show="questCompleted(questIndex)">
				<button id = "startEnd" onclick = playRestart() v-on:click="setRestarted(questIndex)">
					<p>Restart Quest</p>
				</button>
			</div> -->

		</div>

		<div id="Map" v-show="mapPage">
			<h1> Map View </h1>
			<template>
			  <div id="map">
				</div>

			</template>
		</div>
	</div>

</div>
<script src="script.js"></script>
<!-- <script src="vue-simple-alert/js/chunk-vendor.js"></script>
<script src="vue-simple-alert/js/app.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>


</html>
